@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;

}
.hero{
    background-image: url('../images/cow.jpg');
    background-position: bottom center;
    background-size: cover;
    height: 100vh;
}
.hero h1{
    color: rgb(253, 253, 253);
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    padding-top: 60px;
    font-family: cursive;
    word-spacing: 40px;
    letter-spacing: 20px;
}
.article ,#cow-type{
    width: 80%;
    margin: 60px auto 60px ;
    background-color: blueviolet;
    color: aliceblue;
    padding: 60px;
    border-width: 10px;
    border-color: rgb(0, 0, 0);
    border-style: solid;

    
}
.article h2{
    font-size: 50px;
    text-align: center;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(43, 226, 89);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.article p{
    text-align: center;
    line-height: 24px;
    word-spacing: 5px;
    text-transform: capitalize;
}
.article p .imp{
    color: rgb(235, 0, 0);
    /* font-size: 50px; */
    font-weight: bold;
    
}